@import "../variables.scss";

.Contact{
    background-color: $color-secundairy;
    height: auto;
    color: $color-primairy;
    @media screen and (max-width:992px) {
        height: 100%;
        
    }
}

.contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50rem;
    @media screen and (max-width:992px) {
        height: 100%;
        
    }
}