@import "../variables.scss";

.About {
  position: relative;
}

.left-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: $color-secundairy;
  @media screen and (max-width: 992px) {
    background-color: transparent;
  }
}

.about {
  position: relative;
  height: 100%;
  color: $color-primairy;
  background-color: $color-secundairy;
  padding: 5rem 5rem 5rem 0;
  z-index: 0;
  @media screen and (max-width: 992px) {
    background-color: transparent;
    padding: 5rem 0 0 0;
  }

  &-title {
    padding: 1rem 0 5rem 0;
    font-size: $h1;
    font-family: soleil, sans-serif !important;
    font-weight: 800;
    @media screen and (max-width: 992px) {
      color: $color-secundairy;
      font-size: 1.5rem;
    }
  }
  &-cta {
    margin-top: 2rem;
    height: auto;
    @media screen and (max-width: 992px) {
      color: $color-secundairy;
    }

    h2 {
      padding: 1rem 0;
    }
    p {
      font-size: $txt-size;
      font-weight: $font-weight-text;
      padding-bottom: 1rem;
    }
  }
}

.cta {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  left: -1.5rem;
  background-color: $color-primairy;
  padding: 0 2rem;
  margin-bottom: 10rem;
  height: 100%;
  &-top {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 0 2rem 0;
    p {
      font-size: $txt-size;
      font-weight: $font-weight-text;
    }
  }
  &-bottom{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }
  &-title {
    font-family: $title-font;
    font-size: $h2;
  }
}



.table-of-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-evenly;
  @media screen and (max-width: 992px) {
    width: 100%;
  }
  a {
    font-style: italic;
    font-weight: 200;
    color: $color-secundairy;
    text-decoration: none;
    transition: all 0.5s ease-out;
    &:hover {
      font-weight: 300;
      color: #caa35c;
      font-style: italic;
      transition: all 0.25s ease-in;
    }
  }
  .content-item {
    list-style-type: none;
    padding: 0.5rem 0;
  }
}
