@import "../variables.scss";

.SC {
  width: 100%;
  height: 51rem;
  background-color: $color-secundairy;
  @media screen and (max-width: 992px) {
    height: auto;
  }
  &-bg {
    position: absolute;
    width: 100%;
    height: 51rem;
    @media screen and (max-width: 992px) {
      position: unset;
      height: 25rem;
      background-color: $color-primairy;
    }
    @media screen and (max-width: 576px) {
      height: 15rem;
    }
  }
  &-img {
    position: relative;
    display: flex;
    justify-content: flex-start;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      background-color: rgb(0, 0, 0, 0.35);
      z-index: 1;
      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }
    img {
      position: relative;
      width: 50%;
      height: 51rem;
      object-fit: cover;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 1);
      }

      @media screen and (max-width: 992px) {
        width: 100%;
        height: 25rem;
      }
      @media screen and (max-width: 576px) {
        height: 15rem;
      }
    }
  }
  &-object {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 51rem;
    padding: 0 2rem;
    color: $color-primairy;
    @media screen and (max-width: 992px) {
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
      height: auto;
      padding: 2rem 1rem;
    }

    h2 {
      width: auto;
      position: relative;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      @media screen and (max-width: 992px) {
        font-size: 1.25rem;
        text-align: start;
      }
      @media screen and (max-width:576px) {
        letter-spacing: .25rem;
      }

    }
    p {
      position: relative;
      @media screen and (max-width: 992px) {
        text-align: start;
        font-size: 0.8rem;
        width: 100%;
      }
    }
  }
}
