@import "../variables.scss";

.header1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 10rem 0;
  &-object {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 25rem;
    color: $color-primairy;
    @media screen and (max-width: 992px) {
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
      height: auto;
      // padding: 2rem 1rem;
    }

    p {
      position: relative;
      width: 75%;

      @media screen and (max-width: 992px) {
        text-align: start;
        font-size: 0.8rem;
        width: 100%;
      }
    }
  }
  &-title {
    .header1-subtitle {
      font-size: 1.5rem;
      color: $color-primairy;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      @media screen and (max-width: 992px) {
        font-size: 1rem;
      }
      @media screen and (max-width: 576px) {
        font-size: 0.75rem;
        letter-spacing: 0.25rem;
      }
    }
    h2 {
      position: relative;
      width: auto;
      position: relative;
      font-size: 4rem;
      text-transform: uppercase;
      letter-spacing: 0.5rem;

      // &::before {
      //   content: "experience & certification";
      //   padding: absolute;
      //   bottom: 0;
      //   right: 0;
      //   font-size: 1.5rem;
      //   color: white;
      //   @media screen and (max-width: 992px) {
      //     font-size: 1rem;
      //   }
      //   @media screen and (max-width: 576px) {
      //     font-size: 0.75rem;
      //     letter-spacing: 0.25rem;
      //   }
      // }
      @media screen and (max-width: 992px) {
        font-size: 2rem;
        text-align: start;
      }
      @media screen and (max-width: 576px) {
        font-size: 1.5rem;
        letter-spacing: 0.25rem;
      }
    }
  }
}

.colored-ampersand{
  color: $color-accent !important;
}